.display-movies-container {
  background-color: rgb(29, 29, 45);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  margin-top: 10px;
  width: 24rem;
  height: 100%;
  padding: 20px;
}
